---
import profileImg from '../assets/profile-trung1.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Thông tin về tôi"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 04 2026')}
	heroImage={profileImg}
>
	<p>
		Nếu bạn đang tìm một profile khô khan chỉ toàn thông số kỹ thuật, thì rất tiếc (hoặc rất may) là bạn đã vào nhầm chỗ. Mình xuất thân là dân IT đam mê công nghệ, nhưng cuộc sống và lăng kính của mình không chỉ xoay quanh cái màn hình máy tính.
	</p>

	<p>
		Mình thích việc "hô biến" những ý tưởng thành sản phẩm thực tế. Tech stack của mình khá linh hoạt: từ việc xử lý logic mượt mà với Python, C++, cho đến việc xây dựng và "make-color" giao diện web bằng JavaScript, HTML, CSS. Với mình, công nghệ là công cụ để tối ưu cuộc sống, chứ không phải để học vẹt.
	</p>

	<p>
		Sau giờ gõ phím làm việc, mình gõ phím để... xả stress (hoặc rước thêm stress vào người).
		Mình thường xuyên đắm chìm trong nhịp độ căng thẳng của các tựa game FPS như Valorant và CS2. Nhưng không chỉ dừng lại ở FPS mình còn là fan cứng của dòng game Souls-like. Cảm giác nằm xuống hàng chục lần trước các boss trong Elden Ring, Sekiro, hay Black Myth: Wukong rèn cho mình một "tinh thần thép". Tin mình đi, kiên nhẫn đánh boss Souls-like xong thì việc ngồi dò từng dòng code fix bug hay đối mặt với những task khó nhằn ngoài đời chỉ là chuyện nhỏ!
	</p>

	<p>
		Mình xây dựng blog này như một trạm dừng chân đa góc nhìn. Bên cạnh việc mổ xẻ đồ công nghệ hay bàn luận về game, bạn sẽ tìm thấy ở đây:
		Những chia sẻ về kỹ năng mềm, cách tối ưu hiệu suất làm việc (mình khá thích xây dựng các hệ thống quản lý cá nhân logic).
		Không chỉ gear hay laptop, mình thích phân tích và đánh giá mọi thứ thú vị xung quanh cuộc sống dưới góc nhìn của một người trẻ thực tế.
	</p>

	<p>
		Mình luôn cởi mở với những dự án mới, từ việc hợp tác viết lách, phân tích dữ liệu, đến xây dựng hệ thống. Nếu bạn cần một cộng sự có tư duy logic, làm việc chỉn chu và không ngại thử thách, hãy kết nối với mình nhé!
	</p>
</Layout>
